<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Education and Experience</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bsu.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dec 2014</h4>
                                    <h4 class="subheading">Ball State University</h4>
                                    <h4 class="subheading">Bachelor of Science in Business Administration</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/adidas.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sept 2018 - Apr 2021</h4>
                                    <h4 class="subheading">Adidas</h4>
                                    <h4 class="subheading">Manufacturing Analyst</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As a Manufacturing Analyst, I played a vital role in driving the success of manufacturing operations. By collecting information from various systems and collaborating with department managers, I was able to deliver insights that addressed production volume, accuracy, and efficiency.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/butler.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2020</h4>
                                    <h4 class="subheading">Butler University</h4>
                                    <h4 class="subheading">Analytics and Visualization Executive Education Certificate </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Through this course, I gained practical technical skills in solving data problems and increased my expertise in relevant means such as Excel, Python, JavaScript, SQL, Tableau, Hadoop, and Machine Learning.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/angi.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2021 - June 2022</h4>
                                    <h4 class="subheading">Angi</h4>
                                    <h4 class="subheading">Sales Operations Analyst</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As a Sales Operations Analyst, I was instrumental in improving the quality and reliability of information provided to stakeholders by developing, upgrading, and maintaining business tools and automating data transformations. Observability and validation turned out to be pivotal in the process. These applications led to more effective calls to action and empowered managers to make quick, confident decisions based on trustworthy insights.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/MIT.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2022</h4>
                                    <h4 class="subheading">Massachusetts Institute of Technology</h4>
                                    <h4 class="subheading">Professional Certificate in Data Engineering</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During this program, I exercised data engineering essentials, from building effective data architectures and data warehouses to designing data models, streamlining data processing, automating data pipelines, data wrangling, and big data engineering.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/vangst.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2022 - Present</h4>
                                    <h4 class="subheading">Vangst</h4>
                                    <h4 class="subheading">Sales Operations Analyst</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As the primary analyst for a startup, I'm working closely with key stakeholders to develop systems, validate sources, and improve workflows that drive revenue growth and increase profitability.</p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>