<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <!-- <div class="col-sm-3"> -->
                <div class="text-center">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive " alt="">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">I'm Jeremy, a data engineer with experience in automation, analytics, and business intelligence and a track record of implementing self-service solutions for both technical and non-technical end-users. While I strive to master the most relevant technologies to conquer challenges both common and colossal, I think the most groundbreaking innovations come from collaboration practiced by a diverse set of perspectives and talents. Having seen the fruits of this type of environment firsthand, I tend to gravitate toward cultures that foster it and work to cultivate it in it's absence. My initiatives for leveraging modern tools to fulfill business needs while being conscious of scope and promoting a variety of efforts has been a difference-maker for organizations across numerous industries.</p>
                </div>
            </div>
        </div>
    </section>