<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">I'm Jeremy</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <!-- <div class="col-sm-3"> -->
                <div class="text-center">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Hey there! I'm a data pro who loves taking the lead on projects that make a difference. I have several years of experience in process automation and business intelligence, which helps me bring all kinds of valuable insights to the table through analytics and visualization. One of my biggest strengths is coming up with innovative ways to turn raw data into a real advantage for organizations across an array of industries.</p>
                </div>
            </div>
        </div>
    </section>